PROJECT_NAME=D&D Beyond Clone
DATABASE_URL=postgresql+psycopg2://dnd_user:change-me@localhost:5432/dnd_beyond_clone
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

POSTGRES_USER=dnd_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=dnd_beyond_clone
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=5050

TEST_DATABASE_URL=postgresql+psycopg2://dnd_user:change-me@localhost:5432/dnd_beyond_clone_test
